---
const { src, name, href } = Astro.props;
---

<section>
  <a href={href} target="_blank" rel="noreferrer noopenner">
    <img
      src={src}
      alt={name}
      class="w-[200px] h-[200px] object-cover mx-auto rounded-full"
      title={name}
    />
  </a>
  <h4 class="text-center font-bold text-xl text-[#00FFF0] mt-2">
    {name}
  </h4>
  <slot />
</section>
